:root {
  --primary-color: #2e2f42;
  --secondary-color: #f4f4fd;
  --accent-color: #4d5ae5;
  --text-color: #2e2f42;
  --hover-color: #404bbf;
  --white-color: #ffffff;
  --transition-duration: 250ms;
  --transition-func: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-dur-and-func: 250ms linear;
}

/* none */
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

figure {
  margin: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.img-clean {
  display: block;
}

.overlay-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--cloud, #f4f4fd);
  background: var(--iris, #4d5ae5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.block-a:hover .overlay,
.block-a:focus .overlay {
  transform: translateY(0%);
}

/* ==========body============== */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: var(--white-color);
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* hidden title  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* main page -  header  */

.header {
  display: flex;
  position: relative;
  justify-content: space-between;

  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-nav {
  align-items: center;
  margin-left: 72px;

  display: flex;
  color: #404bbf;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.address {
  display: flex;
  flex-wrap: wrap;
}

.address-item {
  margin-right: 40px;
  transition: color var(--transition-duration);
  transition: color var(--transition-func);
}

.address-item:last-child {
  margin-right: 0px;
}

/* logo */

.logo {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
  color: var(--accent-color);
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  transition: color var(--transition-dur-and-func);
}

.logo-span {
  color: var(--primary-color);
}

.nav-item {
  display: flex;
  align-items: center;
  transition: color var(--transition-duration);
  transition: color var(--transition-func);
}

.nav-link {
  display: block;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  transition-property: color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  position: relative;
  color: #404bbf;
}

.active::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.address-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover {
  color: var(--hover-color);
}

.address-link:hover {
  color: var(--hover-color);
}

/* section first */

/* ========================hero=========== */
.hero {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 188px 0 188px;
  text-align: center;
  background-color: var(--primary-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section {
  padding-bottom: 120px;
  padding-top: 120px;
}

.caption {
  max-width: 496px;
  padding-bottom: 48px;
  margin: 0 auto;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.modal-button-image {
  min-width: 169px;
  padding: 16px 32px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition-duration: var(--transition-duration);
  transition-property: background-color;
  transition-timing-function: var(--transition-func);
}

.modal-button-image:hover,
.modal-button-image:focus {
  background-color: var(--hover-color);
}

.headline {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-color);
}

.menu-list {
  display: flex;
}

.menu-item {
  width: calc((100% - 72px) / 4);
  margin-right: 24px;
  transition: background-color var(--transition-dur-and-func);
}

.menu-item:last-child {
  margin-right: 0px;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: var(--secondary-color);
}

.wrap-title {
  padding: 32px 16px;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-color);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* =================main-page==================  */

.products {
  padding-bottom: 120px;
}

.products-marg {
  margin-bottom: 72px;
}

.our-offer {
  display: flex;
  flex-wrap: wrap;
}

.product-items {
  width: calc((100% - 48px) / 3);
}

.product-items:not(:last-child) {
  margin-right: 24px;
}

.img-flex:not(:last-child) {
  margin-right: 24px;
}

/*======================our team===================  */
.section-employee {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--secondary-color);
}

.employee-cont {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.items-employee {
  display: flex;
  gap: 24px;
}

.item-employee {
  text-align: center;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.wrap-title-list {
  padding: 32px 0 24px 0;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  height: 40px;
  margin-bottom: 32px;
}

.social-item {
  display: block;
  justify-content: space-between;
  align-items: center;
  max-width: 232px;
  height: 40px;
  width: 40px;
  gap: 24px;
  background-color: #4d5ae5;
  border-radius: 50%;
  background-size: 16px 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #f4f4fd;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #31d0aa;
}

/* ==========================customers============================= */

.customers {
  padding: 120px 0 120px;
}

.customer-wrap {
  display: block;
  padding: 120px 0 120px;
}

.customer-headline {
  width: 1128px;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-color);
}

.customer-items {
  display: flex;
  gap: 24px;
  fill: #404bbf;
}

.svg-fill-customer {
  fill: var(--costumers-color);
  width: 104px;
  height: 56px;
}

.item-customer {
  width: calc((100% - 120px) / 6);
  height: 88px;
  background-color: #f4f4fd;
  transition: border-color var(--transition-duration);
  transition: border-color var(--transition-func);
}

.icon-svg-customer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  border-color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-svg-customer:hover,
.icon-svg-customer:focus {
  border-radius: 4px;
  border: 1px solid var(--ocean, #404bbf);
  color: #404bbf;
}

.svg-fill-customer:hover,
.svg-fill-customer:focus {
  fill: #404bbf;
}

.svg-fill-customer {
  fill: currentColor;
  transition: fill var(--transition-dur-and-func);
}

/* ===================end customers======================== */

/* footer */

.logo-footer {
  display: inline-block;
  align-items: center;

  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer {
  align-items: baseline;
  background-color: var(--primary-color);
  padding: 100px 0px;
}

.footer .logo {
  font-family: "Raleway", sans-serif;
}

.logo-footer {
  transition: background-color var(--transition-duration);
  transition: background-color var(--transition-func);
}

.footer .logo-span-footer {
  color: var(--secondary-color);
  font-family: "Raleway", sans-serif;
}

.footer-text {
  line-height: 1.5;
  color: var(--secondary-color);

  letter-spacing: 0.02em;
  width: 264px;
}

/* =================soc-media-footer============== */

.footer-content {
  display: flex;
  align-items: baseline;
  padding-bottom: 120px;
  padding-top: 120px;
}

.footer-social-media {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.footer-content-logo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 120px;
}

.soc-media-list {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 208px;
  height: 80px;
}

.soc-media-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--white, #ffffff);
}

/* .footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  
  }

.footer-link:hover,
.footer-link:focus {
 background-color: #31d0aa;
   }  */

/* ===============portfolio================== */

/* header  */

.content-wrap {
  display: block;
}

.block-a {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.block-a:hover,
.block-a:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-nav {
  display: flex;
  align-items: center;
}

.portfolio-menu {
  display: flex;
  margin-right: 40px;
}

.portfolio-menu:last-child {
  margin-right: 0px;
}

.address-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* main  */

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.buttons-items {
  display: flex;
  justify-content: center;
  width: 1158px;
  margin-bottom: 72px;
}

.portfolio-btn-item {
  margin-right: 24px;
}

.portfolio-btn-item:last-child {
  margin-right: 0px;
}

.portfolio-button {
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  color: #4d5ae5;
  background-color: #f4f4fd;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  border: 1px solid transparent;
  cursor: pointer;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #404bbf;
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  margin-right: 24px;
  margin-bottom: 48px;
}

.portfolio-item:nth-last-child(3n + 1) {
  margin-right: 0px;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.wrap-title {
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  margin-bottom: 8px;
}

.portfolio-subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  color: var(--text-color);
  transition: transform var(--transition-duration);
  transition: transform var(--transition-func);
}

.portfolio-subtitle:focus {
  transform: translateY(0%);
}

/*footer  */
.footer-content {
  display: flex;
  align-items: baseline;
  padding-bottom: 120px;
  padding-top: 120px;
}

.footer-social-media {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.footer-content-logo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 120px;
}

.soc-media-list {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 208px;
  height: 80px;
}

.soc-media-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--white, #ffffff);
}

/* ================ REVIEWS ================ */
/* =================backdrop================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* =============modal window============ */
.modal-window {
  position: absolute;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 4px;
  background: var(--dairy, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window:hover,
.modal-window:focus {
  fill: #ffffff;
}

.modal-window-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close-btn:hover,
.modal-window-close-btn:focus {
  border: none;
  background-color: #404bbf;
}

.modal-window-close-btn-img {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close-btn-img:hover {
  fill: #ffffff;
}

/* ======================modal backdrop end=============== */

/* =================modal form===================== */

.review-form {
  width: 360px;
}

.review-form-legend {
  text-align: center;
  width: 360px;
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.review-form-field {
  display: block;
  margin-bottom: 8px;
}

.review-form-field-description {
  color: #8e8f99;
  font-size: 12px;
  padding-bottom: 4px;
  font-weight: 400;
  line-height: 1.16em;
  letter-spacing: 0.48px;
}

.review-form-input-wrapper {
  position: relative;
  display: block;
}



.review-form-input {
  width: 100%;
  height: 40px;
  font-size: 18px;
  padding-left: 38px;
  border-radius: 4px;
  border-color: transparent;
  transition: border-color var(--transition-duration) var(--transition-func);
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline-offset: 2px;
}

.review-form-input:focus {
  outline-color: transparent;
  outline-offset: 2px;
  border-color: var(--accent-color);
}

.input-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill var(--transition-duration) var(--transition-func);
  fill: var(--primary-color);
}

.review-form-input-wrapper:checked .review-form-input {
  border-color: var(--accent-color);
}

.review-form-input-wrapper:focus-within .input-form-icon {
  fill: var(--accent-color);
}

.review-form-message {
  width: 100%;
  height: 120px;
  font-size: 18px;
  resize: none;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  color: #2e2f42;
  transition: border-color var(--transition-duration);
  transition: border-color var(--transition-func);
  outline: transparent;
}

.review-form-message::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16em;
  letter-spacing: 0.48px;
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
}

.review-form-message:focus {
  outline-color: transparent;
  outline-offset: 2px;
  border-color: var(--accent-color);
}

/* ================checkbox================= */

.review-form-checkbox-policy {
  position: absolute;
  appearance: none;
}

.review-form-checkbox-policy:checked + .review-form-own-checkbox {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.review-form-own-checkbox {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  stroke-width: 1px;
  stroke: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  cursor: pointer;
}

.review-form-own-checkbox-icon {
  display: none;
}

.review-form-checkbox-policy:checked + .review-form-own-checkbox use {
  display: block;
}

.review-form-field-policy {
  display: flex;
  align-items: center;
  width: 338px;
  flex-shrink: 0;
  color: var(--lightslate, #8e8f99);
  font-size: 12px;
  line-height: 1.16em;
}

.review-form-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin-top: 24px;
  margin-left: 96px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition-duration: var(--transition-duration);
  transition-property: background-color;
  transition-timing-function: var(--transition-func);
  border: none;
}
